<table class="table">
  <thead>
	  <tr>
	    <th>contract</th>
      <th>coverage</th>
      <th>paid</th>
      <th>premium</th>
      <th>collected</th>
      <th>parties</th>
	  </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="c in ctl.list track by c.id">
      <td>{{c.id}}</td>
      <td><span ng-show="c.currentTotalCoverage">{{c.currentTotalCoverage | currency:"$":0}}
      <br>of<br>
      </span>{{c.maxCoverage | currency:"$":0}}</td>
      <td>{{c.currentPaidClaim | currency:"$":0}}</td>
      <td><span ng-show="c.currentTotalPremium">{{c.currentTotalPremium | currency:"$":0}}
      <br>of<br>
      </span>{{c.maxPremium | currency:"$":0}}</td>
      <td>{{c.currentPaidPremium | currency:"$":0}}</td>
			<td>
				<dl class="dl-horizontal">
					<dt>captive</dt>
					<dd>{{c.captive}}</dd>
					<dt>reinsurer</dt>
					<dd>{{c.reinsurer}}</dd>
				</dl>
				<a class="btn btn-default btn-block" ng-show="ctl.canJoin(c)" href 
        ng-click="ctl.openJoin(c)" title="sign contract">
        join</a>
			</td>
	  </tr>
  </tbody>
</table>
