<table class="table">
  <thead>
	  <tr>
      <th>policy</th>
      <th>contract</th>
      <th>coverage</th>
      <th>paid</th>
      <th>premium</th>
      <th>collected</th>
      <th>fronting</th>
	  </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="7"><button class="btn btn-primary" 
      ng-click="ctl.open()" ng-show="ctl.canCreate()">New Policy</button>
    </tr>
  </tfoot>
  <tbody>
	  <tr ng-repeat="p in ctl.list">
      <td>{{p.id}}</td>
      <td>{{p.contractId}}</td>
      <td>{{p.coverage | currency:"$":0}}</td>
      <td>{{p.paidClaim | currency:"$":0}}</td>
			<td>{{p.premium | currency:"$":0}}
        <a class="btn btn-default btn-block" ng-if="ctl.canPay(p)" href
				ng-click="ctl.openPay(p)" title="pay premium">pay</a>
			</td>
      <td>{{p.paidPremium | currency:"$":0}}</td>
			<td>
	      <dl class="dl-horizontal">
         <dt>captive</dt>
         <dd>{{p.frontingChain.captive}}</dd>
         <dt>reinsurer</dt>
         <dd>{{p.frontingChain.reinsurer}}</dd>
         <dt>fronter</dt>
         <dd>{{p.frontingChain.fronter}}</dd>
         <dt>affiliate</dt>
         <dd>{{p.frontingChain.affiliate}}</dd>
	      </dl>
        <a class="btn btn-default btn-block" ng-show="ctl.canJoin(p)" href 
        ng-click="ctl.openJoin(p)" title="join fronting chain">
        join</a>
      </td>
	  </tr>
  </tbody>
</table>

<script type="text/ng-template" id="policy-modal.html">
<form name="modalForm" ng-submit="ctl.ok()" novalidate>
<div class="modal-header">
<h3 class="modal-title">Create Policy</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>contract</label>
    <select class="form-control" ng-model="ctl.contract"
     ng-options="c as c.id for c in ctl.contracts"></select>
  </div>
  <div class="form-group">
    <label>coverage <span ng-show="ctl.contract">max: {{ctl.contract.maxCoverage - ctl.contract.currentTotalCoverage | currency:"$":0}}</span></label>
    <input class="form-control" required
    type="number" min="0" 
    ng-model="ctl.policy.coverage">
  </div>
  <div class="form-group">
    <label>premium  <span ng-show="ctl.contract">max: {{ctl.contract.maxPremium - ctl.contract.currentTotalPremium  | currency:"$":0}}</span></label>
    <input class="form-control" required
    type="number" min="0"
    ng-model="ctl.policy.premium">
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="submit" ng-disabled="modalForm.$invalid">Create</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</form>
</script>

<script type="text/ng-template" id="join-modal.html">
<div class="modal-header">
<h3 class="modal-title">Join Fronting Chain</h3>
</div>
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>contract</dt>
    <dd>{{ctl.policy.contractId}}</dd>
    <dt>policy</dt>
    <dd>{{ctl.policy.id}}</dd>
    <dt>coverage</dt>
    <dd>{{ctl.policy.coverage | currency:"$":0}}</dd>
    <dt>premium</dt>
    <dd>{{ctl.policy.premium | currency:"$":0}}</dd>
  </dl>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" 
ng-click="ctl.ok()" ng-disabled="modalForm.$invalid">Join</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</script>

<script type="text/ng-template" id="pay-modal.html">
<div class="modal-header">
<h3 class="modal-title">Pay Premium</h3>
</div>
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>contract</dt>
    <dd>{{ctl.policy.contractId}}</dd>
    <dt>policy</dt>
    <dd>{{ctl.policy.id}}</dd>
    <dt>premium</dt>
    <dd>{{ctl.policy.premium | currency:"$":0}}</dd>
  </dl>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" 
ng-click="ctl.ok()" ng-disabled="modalForm.$invalid">Pay</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</script>
